In [113]:
import numpy as np
import pandas as pd

In [114]:
# importing data from the database
movies=pd.read_csv("tmdb_5000_movies.csv")
credits=pd.read_csv("tmdb_5000_credits.csv")

movies.head(1)

In [115]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [116]:
Movies=movies.merge(credits,on='title')
Movies.shape

(4809, 23)

In [117]:
# removing the unwanted fields
movies_requried_fields=Movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [118]:
movies_requried_fields.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [119]:
movies_requried_fields.dropna(inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_17928\1516559833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields.dropna(inplace=True)

In [120]:
movies_requried_fields.shape

(4806, 7)

In [121]:
import ast
def convert(text):
    temp = []
    for i in ast.literal_eval(text):
        temp.append(i['name']) 
    return temp

In [122]:
movies_requried_fields['genres'] = movies_requried_fields['genres'].apply(convert)
movies_requried_fields['keywords'] = movies_requried_fields['keywords'].apply(convert)

C:\Users\HP\AppData\Local\Temp\ipykernel_17928\49702551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['genres'] = movies_requried_fields['genres'].apply(convert)
C:\Users\HP\AppData\Local\Temp\ipykernel_17928\49702551.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['keywords'] = movies_requried_fields['keywords'].apply(convert)

In [123]:
def top3(text):
    temp = []
    counter =0
    for i in ast.literal_eval(text):
        if counter < 3:
            temp.append(i['name'])
        counter+=1
    return temp

In [124]:
movies_requried_fields['cast'] = movies_requried_fields['cast'].apply(top3)

C:\Users\HP\AppData\Local\Temp\ipykernel_17928\2481694557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['cast'] = movies_requried_fields['cast'].apply(top3)

In [125]:
def get_director(text):
    temp = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            temp.append(i['name'])
    return temp

In [126]:
movies_requried_fields['crew'] = movies_requried_fields['crew'].apply(get_director)

C:\Users\HP\AppData\Local\Temp\ipykernel_17928\232279081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['crew'] = movies_requried_fields['crew'].apply(get_director)

In [127]:
movies_requried_fields['overview'] = movies_requried_fields['overview'].apply(lambda x:x.split())

C:\Users\HP\AppData\Local\Temp\ipykernel_17928\3444086675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['overview'] = movies_requried_fields['overview'].apply(lambda x:x.split())

In [128]:
movies_requried_fields.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [129]:
def collapse(L):
    temp = []
    for i in L:
        temp.append(i.replace(" ",""))
    return temp

In [130]:
movies_requried_fields['cast'] = movies_requried_fields['cast'].apply(collapse)
movies_requried_fields['crew'] = movies_requried_fields['crew'].apply(collapse)
movies_requried_fields['genres'] = movies_requried_fields['genres'].apply(collapse)
movies_requried_fields['keywords'] = movies_requried_fields['keywords'].apply(collapse)

C:\Users\HP\AppData\Local\Temp\ipykernel_17928\3402891149.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['cast'] = movies_requried_fields['cast'].apply(collapse)
C:\Users\HP\AppData\Local\Temp\ipykernel_17928\3402891149.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['crew'] = movies_requried_fields['crew'].apply(collapse)
C:\Users\HP\AppData\Local\Temp\ipykernel_17928\3402891149.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['genres'] = movies_requried_fields['genres'].apply(collapse)
C:\Users\HP\AppData\Local\Temp\ipykernel_17928\3402891149.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['keywords'] = movies_requried_fields['keywords'].apply(collapse)

In [131]:
movies_requried_fields

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith]
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]","[BrianHerzlinger, JonGunn, BrettWinn]"

In [169]:
movies_requried_fields['tags'] = movies_requried_fields['overview'] + movies_requried_fields['genres'] 
+ movies_requried_fields['keywords'] + movies_requried_fields['cast'] + movies_requried_fields['crew']

C:\Users\HP\AppData\Local\Temp\ipykernel_17928\3431044588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_requried_fields['tags'] = movies_requried_fields['overview'] + movies_requried_fields['genres']

0       [cultureclash, future, spacewar, spacecolony, ...
1       [ocean, drugabuse, exoticisland, eastindiatrad...
2       [spy, basedonnovel, secretagent, sequel, mi6, ...
3       [dccomics, crimefighter, terrorist, secretiden...
4       [basedonnovel, mars, medallion, spacetravel, p...
                              ...
4804    [unitedstates–mexicobarrier, legs, arms, paper...
4805    [EdwardBurns, KerryBishé, MarshaDietlein, Edwa...
4806    [date, loveatfirstsight, narration, investigat...
4807    [DanielHenney, ElizaCoupe, BillPaxton, DanielH...
4808    [obsession, camcorder, crush, dreamgirl, DrewB...
Length: 4806, dtype: object

In [134]:
movies_requried_fields.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [140]:
movie_tags = movies_requried_fields.drop(columns=['overview','genres','keywords','cast','crew'])

In [143]:
movie_tags['tags'] = movie_tags['tags'].apply(lambda x: " ".join(x))

In [144]:
movie_tags['tags']=movie_tags['tags'].apply(lambda x:x.lower())
movie_tags.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [146]:
import nltk

In [147]:
from nltk.stem import PorterStemmer

In [148]:
ps=PorterStemmer()

In [155]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [156]:
movie_tags['tags']=movie_tags['tags'].apply(stem)

In [159]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [160]:
vector = cv.fit_transform(movie_tags['tags']).toarray()

In [162]:
from sklearn.metrics.pairwise import cosine_similarity

In [163]:
similarity = cosine_similarity(vector)

In [165]:
def recommend(movie):
    index = movie_tags[movie_tags['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(movie_tags.iloc[i[0]].title)

In [176]:
recommend("Pirates of the Caribbean: At World's End")

The Last Airbender
The Indian in the Cupboard
Pirates of the Caribbean: Dead Man's Chest
The Legend of Tarzan
The Hobbit: An Unexpected Journey